@model FreeCodeCampCourse.Models.ApplicationType
@*we use @model to pass the values being created to the IAction Result Create method in ApplicationTypeController.*@
<form method="post" asp-action="Create">
    @*Use Bootstrap classes*@
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info p1-3">Add Application Type</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ApplicationTypeName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationTypeName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            @*Since the Index belongs to the same controller, we don't need to specify it*@
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @*keep this class empty*@
            </div>
        </div>
    </div>
</form>



