@model IEnumerable<FreeCodeCampCourse.Models.ApplicationType>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Application Type List</h2>
        </div>
        <div class="col-6 text-right">
            @*Use tag-helpers to redirect to the Create New Application Type view page*@
            @*Follow the correct navigation order. You need to put the controller before the action method*@
            <a asp-controller="ApplicationType" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Application Type
            </a>
        </div>
    </div>

    <br /><br />
    @*when accessing the model name anywhere else in the view, model name must be Captitalised (Model)*@
    @if (Model.Count() > 0)
    {
        @*Use Bootstrap classes to display the table*@
        <table class="table table-bordered table-striped" style="width:100%">
            <thread>
                <tr>
                    <th>
                        Application Type Name
                    </th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.ApplicationTypeName</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                @*Use tag-helpers to redirect to the Create New Application Type view page*@
                                @*Follow the correct navigation order. You need to put the controller before the action*@
                                <a asp-controller="ApplicationType" asp-route-Id="@obj.ApplicationTypeId" asp-action="Edit" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i> &nbsp; Edit
                                </a>
                                @*Use tag-helpers to redirect to the Create New Category view page*@
                                @*Follow the correct navigation order. You need to put the controller before the action*@
                                <a asp-controller="ApplicationType" asp-route-Id="@obj.ApplicationTypeId" asp-action="Delete" class="btn btn-danger mx-2">
                                    @*Add the font awesome delete icon*@
                                    <i class="far fa-trash-alt"></i> &nbsp; Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Application Type exists</p>
    }
</div>



